<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][UI][%thread] %-5level %logger{35} - %msg%n"/>

	<appender name="CONSOL" class="ch.qos.logback.core.ConsoleAppender">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>${LOG_PATTERN}</pattern>
      </layout>
    </appender>
	
	<property name="LOG_PATH" value="/opt/app/logs"/>
	<property name="FILE_NAME" value="UI"/>
	
	 <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	   <File>${LOG_PATH}/${FILE_NAME}-json.log</File>
	   <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
	   <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	     <FileNamePattern>${LOG_PATH}/${FILE_NAME}_%d{yyyy-MM-dd}.%i.json</FileNamePattern>
	     <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
	       <maxFileSize>5MB</maxFileSize>
	     </timeBasedFileNamingAndTriggeringPolicy>
	     <maxHistory>3</maxHistory>
	   </rollingPolicy>
	   <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<pattern>
                    <pattern>{"serviceID":"UI"}</pattern>
                </pattern>
				<timestamp>
					<timeZone>UTC</timeZone>
				</timestamp>
                <threadName />
                <logLevel />
                <context />
                <loggerName />
                <message />
                <stackTrace />
                <callerData />
				<arguments />
				<stackTrace />
			</providers>
		</encoder>
	 </appender>
	
	<springProfile name="dev">
		<root>
		    <level value="INFO"/>
		    <appender-ref ref="CONSOL"/>
		</root>
	</springProfile>
	<springProfile name="live">
		<root>
		    <level value="INFO"/>
		    <appender-ref ref="JSON_FILE"/>
		</root>
	</springProfile>

</configuration>